#sua secret key aqui
SECRET_KEY = ''

#modo debug, true para desenvolvimento, false para produção
DEBUG = true


#banco de dados
DB_HOST=localhost
DB_NAME=x
DB_USER=usuario
DB_PASSWORD=senha
DB_PORT=3306