{% extends 'base.html' %}

{% block title %} Inicío {% endblock %}

{% block content %}
<section class="first-section">
    <div class="conteudo-principal">
        <div class="text-section">
            <h1>Serviços de Trânsito</h1>
            <h2>consulte o tráfego, acidentes e obras da cidade de Apodi-RN</h2>
        </div>
        <div class="button-section"></div>
            <a href="#" class="botao-header">
                <i class="bi bi-exclamation-triangle"></i>
                <span>Ocorrências Ativas</span>
            </a>
        </div> 

        <div class="btn">
            <dl>
                <a href="{% url 'ocorrencias:lista' %}" class="button">
                    <i class="bi bi-megaphone"></i>
                    <dt>Registrar Ocorrência</dt>
                    <dd>registre aqui acidentes, obras, congestionamentos de tráfego e etc.</dd>
                </a>
            </dl>
            <dl>
                <a href="{% url 'ocorrencias:status' %}" class="button">
                    <i class="bi bi-stoplights"></i>
                    <dt>Status do Tráfego</dt>
                    <dd>status de ocorrências ativas e finalizadas</dd>
                </a>
            </dl>
            <dl>
                <a href="{% url 'apps.usuarios:perfil' %}" class="button">
                    <i class="bi bi-person"></i>
                    <dt>Perfil</dt>
                    <dd>acesse seus dados</dd>
                </a>
            </dl>
            <dl>
                <a href="{% url 'apps.usuarios:configuracoes' %}" class="button">
                    <i class="bi bi-gear"></i>
                    <dt>Configurações</dt>
                    <dd>acessibilidade e exclusão de conta</dd>
                </a>
            </dl>
        </div>
    </div>

</section>

{% endblock %}