{% extends 'base.html' %}

{% block title %} Ocorrências {% endblock %}

{% block content %}
<section class="first-section">
    <div class="conteudo-principal">
        <h1>Registrar Ocorrência</h1>
        <h2>Faça registros de ocorrências</h2>

        <form class="ipt" method="POST">
            {% csrf_token %}

            {% if form.errors %}
                <div style="color: red; margin-bottom: 20px;">
                    Por favor, corrija os erros abaixo.
                </div>
            {% endif %}

            <span>
                <label for="{{ form.tipo.id_for_label }}">{{ form.tipo.label }}</label>
            </span>
            <div class="input">
                {{ form.tipo }}
            </div>

            <span>
                <label for="{{ form.via.id_for_label }}">{{ form.via.label }}</label>
            </span>
            <div class="input">
                {{ form.via }}
            </div>

            <span>
                <label for="{{ form.descricao.id_for_label }}">{{ form.descricao.label }}</label>
            </span>
            <div class="input">
                {{ form.descricao }}
            </div>

            <span>
                <label for="hora">Insira aqui o horário</label>
            </span>
            <span>
            <label for="{{ form.horario_incidente.id_for_label }}">Horário do ocorrido</label>
            </span>
            <div class="input">
                 {{ form.horario_incidente }}
            </div>
            <button class="botao-submeter" type="submit">
                Registrar
            </button>

        </form>
    </div>
</section>
{% endblock %}