{% extends 'base.html' %}

{% block title %} Ocorrências {% endblock %}

{% block content %}
<section class="first-section">
    <div class="conteudo-principal">
        <h1>Registrar Ocorrência</h1>
        <h2>Faça registros de ocorrências</h2>

        <form class="ipt" method="POST">
            {% csrf_token %}

            <span>
                <label for="ocorrencia">Tipo de ocorrência</label>
            </span>

            <div class="input">
                <input list="ocorrencias" id="ocorrencia" name="ocorrencia"
                    placeholder="Qual problema você deseja registrar?">

                <datalist id="ocorrencias">
                    <option value="Acidente">
                    <option value="Obra">
                    <option value="Congestionamento">
                    <option value="Evento">
                    <option value="Outro">
                </datalist>
            </div>

            <span>
                <label for="endereco">Endereço</label>
            </span>

            <div class="input">
                <input type="text" id="endereco" name="endereco" placeholder="Insira aqui o endereço">
            </div>

            <span>
                <label for="descrição">Descrição</label>
            </span>
            
             <div class="input">
                <input type="text" id="descrição" name="descrição" placeholder="Insira aqui sua descrição">
            </div>

            <span>
                <label for="hora">Insira aqui o horário</label>
            </span>

            <div class="input">
                <input type="time" id="hora" name="hora">
            </div>


            <button onclick="enviarOcorrencia()" class="botao-submeter" type="submit">Enviar</button>

        </form>

    </div>
</section>

{% endblock %}