{% extends 'base.html' %}

{% block title %} Perfil {% endblock %}

{% block content %}
<body>

    <section class="first-section">
        <div class="perfil-card">
            <div class="foto-usuario">
                <img src="#" alt="Foto de Perfil" class="profile-img">
            </div>
            <h1>Perfil</h1>
            <div class="informacoes-usuario">
                <span class="nome">Nome</span>
                <span class="nome-usuario"></span>
                <span class="email">E-mail</span>
                <span class="email-usuario"></span>
            </div>
        </div>
    </section>
    
</body>
{% endblock %}