{% extends 'base.html' %}
{% load static %} {% block title %} Perfil {% endblock %}

{% block content %}
<body>

    <section class="first-section">
        <div class="perfil-card">
            <div class="foto-usuario">
                <img src="{% static 'img/icone-usuario.png' %}" alt="Foto de Perfil" class="profile-img">
            </div>
            <h1>Perfil</h1>
            <div class="informacoes-usuario">
                <span class="nome">Usuário:</span>
                <span class="nome-usuario">{{ user.username }}</span>

                <span class="email">E-mail:</span>
                <span class="email-usuario">{{ user.email }}</span>
            </div>
        </div>
        <br> <br>
        <div class="botao-alteracao-perfil">
                <a href="{% url 'apps.usuarios:editar_usuario' user.id %}" class="btn btn-primary">Alterar usuário</a>
                <a href="{% url 'apps.usuarios:editar_email' user.id %}" class="btn btn-primary">Alterar E-mail</a>
    </section>
    
</body>
{% endblock %}

