/*sidebar*/
.sidebar {
    background-color: #054c05;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    padding-top: 75px;
    padding-right: 5px;
    padding-left: 20px;
    border-radius: 12px;
    margin: 10px;
    transition: all 0.2s;
}

.sidebar-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    text-decoration: none;
    color: #cdcdcd;
    background: transparent;
    margin-bottom: 5px;
}

.sidebar-button > span {
    display: inline-flex;
    align-items: center;
    gap: 25px;
    height: 45px;
    padding: 0 50px 0 40px;
    border-radius: 5px;
    font-size: 2.2rem;
    font-weight: 500;
    transition: background 0.4s;
}

.sidebar-button:hover>span {
    background-color: #0b830b;
}

.sidebar button i {
    color: #cdcdcd;
    position: relative;
    font-size: 1rem;
    transition: 0.2s;
    cursor: default;
}

.sidebar nav {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    width: 205px;
}
