html {
    font-family: 'Roboto', sans-serif;
}

/*cabeçalho*/
header {
    width: calc(100% - 280px);
    margin-left: 250px
}

.botao-header {
    width: 200px;
    height: 50px;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #ffd2a5;
    color: var();
    border-radius: 6px;
    font-weight: 600;
    transition: all 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 12px;
    transition: transform 0.3s;
    border: none;
}

.botao-header:hover {
    transform: scale(1.02);
    background: #ffba74;
}

.botao-header i {
    color: var(--verde-);
    width: auto;
    height: 32px;
    margin-left: 16px;
    object-fit: contain;     
}

.botao-header .header-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    padding: auto;
}