/*sidebar*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
    padding: 20px 10px;
    transition: all 0.2s;
    z-index: 1000;
    background: linear-gradient(var(--verde-escuro-), var(--verde-));
}

.caixa-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 1px solid var(--verde-);
}

.caixa-logo .logo-texto {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    color: var(--branco-navbar-);
}

.caixa-logo .logo-texto .txt-transito {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--branco-navbar-);
    margin-bottom: 3px;
}

.caixa-logo .logo-texto .txt-apodi {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--branco-navbar-);
}

.caixa-logo span {
    color: var(--branco-navbar-);
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

.logo-img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.logo img {
    width: 100%;
    height: 100%;
}

.sidebar-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    text-decoration: none;
    padding: 0 20px 0 10px;
    color: var(--branco-navbar-);
    background: transparent;
}

.sidebar-button>span {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 45px;
    padding: 0 20px 0 10px;
    border-radius: 9px;
    font-size: 2rem;
    font-weight: 500;
    transition: background 0.4s;
}

.sidebar-button:hover>span {
    background-color: var(--verde-);
}

.sidebar button i {
    color: var(--branco-navbar-);
    position: relative;
    font-size: 3rem;
    transition: 0.2s;
    cursor: default;
}

.form-logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.form-logout button {
    background: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    padding: 0 20px 0 10px;
    margin: 0;
}

.form-logout span {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    height: 45px;
    padding: 0 20px 0 10px;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: 500;
    transition: background 0.4s;
}

.form-logout:hover>span {
    background-color: var(--verde-);
}

.sidebar nav {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    width: 205px;
}

/* responsividade */
@media (max-width: 920px) {
    .sidebar {
        width: 70px;
        margin: 0;
        border-radius: 0;
        padding-right: 0;
        padding-left: 3px;
        align-items: center;
    }

    .sidebar nav {
        width: 100%;
    }

    .caixa-logo {
        display: flex;
        justify-content: center;
    }

    .caixa-logo .logo-texto .txt-transito {
        display: none;
    }

    .caixa-logo .logo-texto .txt-apodi {
        display: none;
    }

    .sidebar-button,
    .form-logout {
        justify-content: center;
    }

    .sidebar-button>span>span {
        display: none;
    }

    .sidebar-button,
    .form-logout>span {
        width: auto;
        padding: 0;
        gap: 0;
    }

    .form-logout>span>button {
        display: none;
    }

    .form-logout,
    .form-logout i,
    .form-logout button {
        cursor: pointer
    }

    .sidebar-button:hover>span,
    .form-logout:hover>span {
        background-color: transparent
    }

    .sidebar-button i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-size: 3rem;
    }

}