/*responsividade*/

@media  (max-width: 920px) {
    .header, .first-section {
        width: calc(100% - 90px);
        margin-left: 80px;
    }

    .first-section h1 {
        font-size: 3rem;
    }
    
    .btn .button {
        width: 200px;
        height: 240px;
    }

    .btn .button i {
        display: none;
    }

    .sidebar {
        width: 70px;
        margin: 0;
        border-radius: 0;
        padding-right: 0;
        padding-left: 0;
        align-items: center;
    }

    .sidebar-button {
        justify-content: center;
    }

    .sidebar-button > span > span {
        display: none;
    }

    .sidebar-button > span {
        width: auto;
        padding: 0;
        gap: 0;
        justify-content: center;
    }

    .sidebar nav {
        width: 100%;
    }

    .sidebar-button i {
        margin: 0 auto;
        font-size: 3.5rem;
    }
    
    .sidebar-button:hover > span {
        background-color: transparent;
    }

    .btn .button > dt {
        font-size: 2.2rem;   
    }

    .btn .button > dd {
        font-size: 1.8rem;
    }

}

@media (max-width: 600px) {
    .header {
        width: calc(100% - 80px);
        margin-left: 80px;
    }
    
    .first-section h1 {
        font-size: 2.8rem;
    }

    .first-section h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .btn {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .btn .button {
        width: 300px;
        height: 200px;
        margin: 0 0 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .btn .button i {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .btn .button > dt {
        font-size: 2rem;   
    }

    .btn .button > dd{
        font-size: 1.8rem;
    }
}