/* first-section */

.first-section .conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-section .button-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.first-section .button-section>i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

/* botões */

.btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1100px;
}

.btn .button {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    background-color: var(--branco-entradas-);
    color: var(--laranja-);
    border-radius: 7px;
    text-decoration: none;
    transition: transform 0.2s, background 0.2s;
    text-align: left;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 3, 0.3);
}

.btn .button:hover {
    transform: translateY(-5px);
    background-color: var(--branco-navbar-);
}

.button i {
    display: inline-flex;
    align-self: flex-start;
    font-size: 4rem;
    margin-bottom: 20px;
    border: 16px solid var(--laranja-claro-);
    border-radius: 50px;
    background-color: var(--laranja-claro-);
}

.button dt {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.button dd {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--laranja-);
}

/* responsividade */
@media (max-width: 920px) {

    header,
    .first-section {
        width: calc(100% - 70px);
        margin-left: 80px;
    }

    .first-section h1 {
        font-size: 3rem;
    }

    .btn .button {
        width: 200px;
        height: 220px;
        margin: 10px;
    }

    .btn .button i {
        display: none;
    }

    .btn .button dt {
        padding-bottom: 9px;
    }

}

@media (max-width: 600px) {
    .header {
        width: calc(100% - 80px);
        margin-left: 80px;
    }

    .first-section h1 {
        font-size: 2.8rem;
    }

    .first-section h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .btn {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .btn .button {
        width: 250px;
        height: 200px;
        margin: 0 0 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .btn .button>dt {
        font-size: 2rem;
    }

    .btn .button>dd {
        font-size: 1.8rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}