html {
    font-family: 'Roboto', sans-serif;
}

/*cabeçalho*/
.header {
    width: calc(100% - 250px);
    height: 80px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-img {
    width: 60px;
    height: auto;
    object-fit: cover;
    transition: transform 0.4s;
    display: block;
}

.logo img {
    width: 100%;
    height: 100%;
}

.logo-img:hover {
    transform: scale(1.2);
}

.botao-logo {
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 2px;
    display: block;
    padding: 10px;
}

.texto-header .header-img {
    width: auto;
    height: 32px;
    margin-left: 16px;
    object-fit: contain;
}

.texto-header {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.texto-header h1 {
    color: #054c05;
    font-size: 3rem;
}

.texto-header h2 {
    color: #054c05;
    font-size: 2rem;
    font-weight: 500;
}

/*sidebar*/

.sidebar {
    background-color: #054c05;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 10px;
    position: fixed;
    height: 100%;
    padding-top: 75px;
    padding-right: 5px;
    padding-left: 20px;
    border-radius: 12px;
    transition: all 0.2s;
}

.sidebar-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    text-decoration: none;
    color: #cdcdcd;
    background: transparent;
    margin-bottom: 5px;
}

.sidebar-button > span {
    display: inline-flex;
    align-items: center;
    gap: 25px;
    height: 45px;
    padding: 0 50px 0 40px;
    border-radius: 5px;
    font-size: 2.2rem;
    font-weight: 500;
    transition: background 0.4s;
}

.sidebar-button:hover>span {
    background-color: #0b830b;
}

.sidebar button i {
    color: #cdcdcd;
    position: relative;
    font-size: 1rem;
    transition: 0.2s;
    cursor: default;
}

.sidebar nav {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    width: 205px;
}

/*primeira seção*/

.first-section {
    margin-left: 250px;
    width: calc(100% - 250px);
    margin-right: 20px;
    min-height: 80vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    overflow: visible;
}

/*inputs*/

.ipt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.ipt .input {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #e8e8e8;
    border-radius: 10px;
    transition: transform 0.2s, background 0.2s;
    z-index: 1;
}

.ipt .input:focus-within, .ipt .input:hover {
    z-index: 100;
}

.ipt .input:hover {
    transform: translateY(-2px);
    background-color: #cdcdcd;
}

.ipt .input > input {
    font-size: 1.8rem;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #054c05;
}

.ipt .input > input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.ipt > span {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: #054c05;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    padding: auto;
}

.input > input::placeholder {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    padding: auto;
    color: #054c05;
}

.ipt .input .lista-ocorrencias {
    position: relative;
    width: 100%;
    max-width: 1100px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #e8e8e8;
    border-radius: 0 0 10px 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    padding: 5px;
    cursor: pointer;
}

.lista-ocorrencias {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #e8e8e8;
    border: 1px solid #cdcdcd;
    opacity: 1;
    border-radius: 0 0 10px 10px;
    list-style: none;
    padding: 5px;
    margin: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

#ocorrencia:focus + .lista-ocorrencias,
.lista-ocorrencias:hover {
    display: block;
}

.ipt .input.open .lista-ocorrencias {
    display: block;
}

.lista-ocorrencias > li {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    color: #054c05;
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 1.6rem;
    font-weight: 500;
    border: 1px solid #cdcdcd;
    transition: background 0.2s;
}

.lista-ocorrencias li:hover {
    background-color: #cdcdcd;
}

#hora {
    color: #054c05;
}

.botao-submeter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 16px;
    gap: 20px;
    height: 40px;
    width: 130px;
    margin: 0 auto;
    flex-direction: column;
    background-color: #ff8000;
    color: #054c05;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.2s, background 0.2s;
    text-align: center;
    margin-top: 20px;
}

.botao-submeter:hover {
    transform: translateY(-2px);
}

/*responsividade*/

@media  (max-width: 920px) {
    .header, .first-section {
        width: calc(100% - 90px);
        margin-left: 80px;
    }

    .first-section h1 {
        font-size: 3rem;
    }

    .sidebar {
        width: 70px;
        margin: 0;
        border-radius: 0;
        padding-right: 0;
        padding-left: 0;
        align-items: center;
    }

    .sidebar-button {
        justify-content: center;
    }

    .sidebar-button > span > span {
        display: none;
    }

    .sidebar-button > span {
        width: auto;
        padding: 0;
        gap: 0;
        justify-content: center;
    }

    .sidebar nav {
        width: 100%;
    }

    .sidebar-button i {
        margin: 0 auto;
        font-size: 3.5rem;
    }
    
    .sidebar-button:hover > span {
        background-color: transparent;
    }

    .input {
        width: 200px;
        height: 240px;
    }

    .ipt .input {
        width: 100%; 
        max-width: 100%;
    }

    .input button a i {
        display: none;
    }

}

@media (max-width: 600px) {
    .header {
        width: calc(100% - 80px);
        margin-left: 80px;
    }
    
    .first-section h2 {
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        gap: 0;
    }

    .input {
        width: 350px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .input button > dl > dt > dd {
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
    }

}