/*container geral*/
.container {
    width: 90%;
    max-width: 900px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.conteudo-header,
.map-container,
.status,
.lista-ocorrencias {
    width: 100%;
}

/*header*/
.conteudo-header {
    margin-left: -14px;
    width: 100%;
}

.conteudo-header,
.status {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.conteudo-header h1 {
    margin: 0;
    padding: 0;
    color: var(--verde-);
    font-size: 2.5rem;
    display: block;
    align-self: flex-start;
}

.conteudo-header,
.status h2 {
    color: var(--verde-);
    font-size: 2rem;
    font-weight: 500;
}

/*estilização do mapa através do id map*/

#map {
    width: 100%;
    height: 60vh;
}

.map-container .map {
    border-radius: 12px;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
}

.lista-ocorrencias {
    min-height: 60px;
}

.sem-ocorrencias {
    display: block;
    text-align: center;
    color: var(--verde-);
    padding: 20px;
    font-size: 1rem;
}

.lista-ocorrencias h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--verde-);
}

/*pop-ups das ocorrências*/

.custom-popup b {
    color: var(--verde-);
}

.custom-popup hr {
    border: 0;
    border-top: 1px dashed #ccc;
}

/*personalização dos pins*/
/*status de ocorrencias atiivas e finalizadas*/
.status {
    height: auto;
}

.status h2 {
    font-weight: 500;
    padding: 16px 0 0 0;
}

.status h3 {
    color: var(--verde-);
    font-size: 2rem;
    font-weight: 500;
}

.pin-status {
    width: 42px;
    height: 42px;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pin-status span {
    transform: rotate(45deg);
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.pin-emergencia {
    background: #e63946;
    animation: pulsar 1.2s infinite;
}

.pin-ativa {
    background: #ff6b00;
}

.pin-andamento {
    background: #ffd43b;
}

.pin-andamento span {
    color: var(--verde-claro-);
}

.pin-finalizada {
    background: #2ecc71;
}

/*animação dos pins*/
@keyframes pulsar {

    0% {
        transform: rotate(-45deg) scale(1);
        box-shadow: 0 0 0 0 rgba(230, 57, 70, 0.7);
    }

    70% {
        transform: rotate(-45deg) scale(1.08);
        box-shadow: 0 0 0 18px rgba(230, 57, 70, 0);
    }

    100% {
        transform: rotate(-45deg) scale(1);
    }
}

/*responsividade mapa*/
@media (max-width: 768px) {

    .conteudo-header,
    .map-container,
    .lista-ocorrencias {
        width: 95%;
        margin: 0 auto;
    }

    .map-container {
        width: 95%;
    }

    #map {
        height: 70vh;
    }

    .lista-ocorrencias {
        width: 95%;
        margin: 16px auto;
    }

}

@media (max-width: 480px) {

    .conteudo-header h2 {
        padding-bottom: 20px;
    }

    .map-container {
        margin: 0 auto;
    }

    #map {
        margin-top: 100px;
        min-height: 70vh;
    }

    .lista-ocorrencias h2 {
        font-size: 1.1rem;
    }
}