@import './fonts.css';
/*Importar fontes*/
@import './normalize.css';
/*Importar normalização*/
@import './variables.css';
/*Importar variáveis*/

html, body {
    background-color: var(--branco-padrao-);
    color: var(--texto-principal-);
    transition: background-color 0.3s ease, color 0.3s ease;
}
