/*Padronizar todos os arquivos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #ffffff;
}