:root{
    --laranja-: #ff8000; /* Todos os elementos laranjas */
    --branco-padrao-: #ffffff; /* Fundo padrão */
    --verde-claro-: #0b830b; /* Texto das telas login-cadastro */
    --verde-escuro-: #062603; /* Fundo para as telas login-cadastro */
    --branco-entradas-: #f4f4f4; /* Todos os elementos de entrada */
    --verde-: #075e07; /* Fundo do menu navbar */
    --laranja-claro-: #ffe6ce; /* Notificações e detalhes */
    --branco-navbar-: #e3e1e1; /* Elementos visuais da navbar */ 
}