<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/icone.ico">
    <link rel="stylesheet" href="..\static\css\home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Trânsito Apodi</title>
</head>

<body>
    <header class="header">
        <button class="botao-header"><a href="#"><i class="bi bi-exclamation-square-fill"></i></a><span>Ocorrências Ativas</span></button>
        <button class="botao-logo">
            <img class="logo-img" src="../static/img/logo.png">
        </button>
    </header>

    <aside class="sidebar">
        <nav>
            <button>
                <span>
                    <a href="#"><i class="bi bi-house-door-fill"></i></a>
                    <span>início</span>
                </span>
            </button>
            <hr class="linha-divisoria">
            <button>
                <span>
                    <a href="#"><i class="bi bi-person-fill"></i></a>
                    <span>perfil</span>
                </span>
            </button>
        </nav>
    </aside>

    <section class="first-section">
        
        <div class="conteudo-principal">
            <h1>Serviços de Trânsito</h1>
            <h2>consulte o tráfego, acidentes e obras da cidade de Apodi-RN</h2>
            <div class="btn">
                <dl>
                    <button>
                        <dt>Registrar Ocorrência</dt>
                        <dd>registre aqui acidentes, obras, congestionamentos de tráfego e etc.</dd>
                    </button>
                </dl>
                <dl>
                    <button>
                        <dt>Status do Tráfego</dt>
                        <dd>status de ocorrências ativas e finalizadas</dd>
                    </button>
                </dl>
                <dl>
                    <button>
                        <dt>Perfil</dt>
                        <dd>acessibilidade e exclusão de conta</dd>
                    </button>
                </dl>
                <dl>
                    <button>
                        <dt>Configurações</dt>
                        <dd>acessibilidade e exclusão de conta</dd>
                    </button>
                </dl>
            </div>
        </div>

    </section>
</body>

</html>